body{
    background: url("https://cdn.dribbble.com/userupload/3149713/file/original-1446c447326bf4bc7733c2f029d97942.png?resize=1200x900&vertical=center") center/cover no-repeat fixed;
}
.Main{
    width: 100%;
    display: flex;
    justify-content: center;
}
.GenresListContainer{
    margin-top: 20px ;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
}
.GenreBox{
    width: 12.5%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.GenreBox a {
    text-decoration: none;
}
.Main{
    width: 100%;
    display: flex;
    justify-content: center;
}
.MoviesListContainer{
    margin-top: 20px ;
    width: 80%;
    display: flex;
    flex-flow: wrap;
}
