.Main{
    width: 100%;
    display: flex;
    justify-content: center;
}
.SearchMovie {
    margin-top: 20px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.input_block {
    width: 25%;
    height: 25px;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.movies_block {
    margin-top: 50px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
